<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../static/css/milligram.min.css" th:href="@{/css/milligram.min.css}"/>
    </head>
    <body>
        <script src="../static/scripts/bundle.js" th:src="@{/scripts/bundle.js}"></script>
    </body>
</html>
